@import "../../../styles/org-global.scss";

.menu {
  background: $menu;
  height: 100vh;
  width: $menu-width-desktop;
  position: fixed;
  top: 0;
  left: 0;
  outline: none;

  ul {
    list-style: none;
    padding: 0.5em 0;

    li {
      font-weight: 500;
      padding: 15px;
      cursor: pointer;

      &:last-child {
        bottom: 0;
        position: absolute;
      }

      &:hover {
        background-color: $menu-selected;
        border-left-style: solid;
        border-width: 3px;
        border-color: #ffffff;
      }

      a {
        text-decoration: none;
        color: #ffffff;

        .active {
          background-color: $menu-selected;
          border-left-style: solid;
          border-width: 3px;
          border-color: #ffffff;
        }
      }
    }
  }
}
