$menu: #101b2d;
$menu-selected: #1d3253;
$upper-part-background: #172b4d;
$background: #f1f4f9;
$green-dashboard: #2dce9d;
$red-dashboard: #f53c56;
$blue-dashboard: #11cdef;
$yellow-dashboard: #ffee06;
$white: #ffffff;
$textcolor: #172b4d;
$lockerdetailsbg: #f1f3f9;

$menu-width-desktop: 240px;
