$main-red: #DB3838;
$main-black: #101010;
$main-darkgray: #707070;
$main-lightgray: #F2F2F2;
$main-white: #FFFFFF;
$main-green: #39BC6E;


.global-title{
    font-size: x-large;
    font-weight: bold;
    font-family: monospace;
    text-shadow: 1px, black;
}

