@import "../../../styles/user-global.scss";

.title-icon-div{
    display: flex;
}

.unlock-title{
    justify-self: flex-start;
    align-self: center;
    padding-right: 20px;
}

.lock-icon{
    align-self: center;
    height: 4vh;
}