@import "../../../styles/user-global.scss";

.unlock-div{
    max-width: fit-content;
    margin: 0 auto;
    @media only screen and (min-width: 600px) {
        max-width: 50%;
    }
}

.title-icon-div{
    display: flex;
}

.unlock-title{
    justify-self: flex-start;
    align-self: center;
    padding-right: 20px;
}

.lock-icon{
    align-self: center;
    height: 4vh;
}