@import "../../../styles/org-global.scss";

.topbar {
  height: 42px;
  overflow: hidden;
  background-color: $white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.19);


  a {
    float: right;
    text-align: center;
    padding: 10px 16px;
    padding-left: 5px;
    text-decoration: none;
    color: $textcolor;
    display: flex;
    
    

    img{
      
      color: black;
      margin-right: 10px;
    }
  }
}
