@import "../../../styles/org-global.scss";

main {
  position: relative;
  height: 100vh;
  padding-left: 25px;

  h1 {
    color: $white;
    float: left;
  }

  .row {
    content: "";
    display: table;
    clear: both;

    .flex-container {
      display: flex;
      flex-direction: row;
      .box1 {
        border-radius: 20px;
        margin-right: 75px;
        width: 200px;
        height: 110px;
        background-color: $white;
      }
      .box2 {
        border-radius: 20px;
        margin-right: 75px;
        width: 200px;
        height: 110px;
        background-color: $white;
      }
      .box3 {
        border-radius: 20px;
        margin-right: 75px;
        width: 200px;
        height: 110px;
        background-color: $white;
      }
    }
  }
}

.main-div {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(
    to bottom,
    $upper-part-background 0%,
    $upper-part-background 35%,
    $upper-part-background 35%,
    $background 35%,
    $background 100%
  );
  margin-left: $menu-width-desktop;
  margin-top: 0px;
  margin-right: 0px;
}
