@import "../../../styles/org-global.scss";

main {
  padding: 25px;
}

.content {
  height: 100vh;
}

.main-div {
  position: relative;
  height: 100vh;
  display: block;

  h1 {
    color: $white;
    float: left;
  }

  h2 {
    color: $textcolor;
  }

  .row {
    content: "";
    display: table;
    clear: both;

    .flex-container {
      display: flex;
      flex-direction: row;

      .box1 {
        border-radius: 20px;
        margin-right: 75px;
        width: 200px;
        height: 110px;
        background-color: $white;

        .box-right-side {
          padding: 25px;
          text-align: center;

          p {
            font-size: 40px;
            color: $textcolor;
            font-weight: 400;
            margin-block-start: 0;
            margin-block-end: 0;
          }
        }

        .box-left-side {
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
          height: 100%;
          width: 50%;
          float: left;
          background-color: $red-dashboard;
          text-align: center;
          padding: 10px;
          padding-bottom: 0px;

          .locker-icon {
            width: 85%;
          }

          p {
            margin-block-start: 0;
            color: $textcolor;
            font-weight: 500;
          }
        }
      }
      .box2 {
        border-radius: 20px;
        margin-right: 75px;
        width: 200px;
        height: 110px;
        background-color: $white;

        .box-right-side {
          padding: 25px;
          text-align: center;

          p {
            font-size: 40px;
            color: $textcolor;
            font-weight: 400;
            margin-block-start: 0;
            margin-block-end: 0;
          }
        }

        .box-left-side {
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
          height: 100%;
          width: 50%;
          float: left;
          background-color: $green-dashboard;
          text-align: center;
          padding: 10px;
          padding-bottom: 0px;

          .locker-icon {
            width: 85%;
          }

          p {
            margin-block-start: 0;
            color: $textcolor;
            font-weight: 500;
          }
        }
      }
      .box3 {
        border-radius: 20px;
        margin-right: 75px;
        width: 200px;
        height: 110px;
        background-color: $white;

        .box-right-side {
          padding: 25px;
          text-align: center;

          p {
            font-size: 40px;
            color: $textcolor;
            font-weight: 400;
            margin-block-start: 0;
            margin-block-end: 0;
          }
        }

        .box-left-side {
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
          height: 100%;
          width: 50%;
          float: left;
          background-color: $blue-dashboard;
          text-align: center;
          padding: 10px;
          padding-bottom: 0px;

          .locker-icon {
            width: 85%;
          }

          p {
            margin-block-start: 0;
            color: $textcolor;
            font-weight: 500;
          }
        }
      }
    }
  }
}

.panel {
  margin-bottom: 30px;
  padding: 5px 30px;
  padding-bottom: 25px;
  border-radius: 20px;
  margin-top: 50px;
  background-color: $white;
  //height: 68vh;
  //width: 85vw;
  box-shadow: 0px 1px 6px #888888;
}

.main-div {
  //overflow hidden removes the scrolls bar, for the lockers page this should be removed
  //overflow: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(
    to bottom,
    $upper-part-background 0%,
    $upper-part-background 35%,
    $upper-part-background 35%,
    $background 35%,
    $background 100%
  );
  margin-left: $menu-width-desktop;
  margin-top: 0px;
  margin-right: 0px;
}

//TABLE
/* ------------------------------------ */

thead {
  display: table-header-group;
  vertical-align: middle;
}
input {
  display: block;
  outline: none;
  border: none !important;
}

textarea {
  display: block;
  outline: none;
}

textarea:focus,
input:focus {
  border-color: transparent !important;
}

/* ------------------------------------ */
button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ Scroll bar ]*/
.js-pscroll {
  position: relative;
  overflow: hidden;
}

.table100 .ps__rail-y {
  width: 9px;
  background-color: transparent;
  opacity: 1 !important;
  right: 5px;
}

.table100 .ps__rail-y::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #ebebeb;
  border-radius: 5px;
  width: 100%;
  height: calc(100% - 30px);
  left: 0;
  top: 15px;
}

.table100 .ps__rail-y .ps__thumb-y {
  width: 100%;
  right: 0;
  background-color: transparent;
  opacity: 1 !important;
}

.table100 .ps__rail-y .ps__thumb-y::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #cccccc;
  border-radius: 5px;
  width: 100%;
  height: calc(100% - 30px);
  left: 0;
  top: 15px;
}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.wrap-table100 {
  width: 100%;
}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/
.table100 {
  background-color: #fff;
}

table {
  width: 100%;
  border-spacing: 0;
  display: table;
  border-collapse: separate;
}

th,
td {
  font-weight: unset;
  padding-right: 10px;
}

.column1 {
  width: 33%;
  padding-left: 40px;
}

.column2 {
  width: 13%;
}

.column3 {
  width: 22%;
}

.column4 {
  width: 19%;
}

.column5 {
  width: 13%;
}

.table100-head th {
  padding-top: 18px;
  padding-bottom: 18px;
}

.table100-body td {
  padding-top: 16px;
  padding-bottom: 16px;
}

/*==================================================================
[ Fix header ]*/
.table100 {
  position: relative;
  padding-top: 60px;
}

.table100-head {
  text-align: left;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.table100-body {
  max-height: 585px;
  overflow: auto;
}

/*==================================================================
[ Ver1 ]*/

.table100.ver1 th {
  font-size: 18px;
  color: #fff;
  line-height: 1.4;

  background-color: #6c7ae0;
}

.table100.ver1 td {
  font-size: 15px;
  color: #808080;
  line-height: 1.4;
}

.table100.ver1 .table100-body tr:nth-child(even) {
  background-color: #f8f6ff;
}

/*---------------------------------------------*/

.table100.ver1 {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.table100.ver1 .ps__rail-y {
  right: 5px;
}

.table100.ver1 .ps__rail-y::before {
  background-color: #ebebeb;
}

.table100.ver1 .ps__rail-y .ps__thumb-y::before {
  background-color: #cccccc;
}
